@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 justify-content-end">
            <button class="btn btn-primary me-2">Register</button>
            <button class="btn btn-primary ps-2 pt-2">Login</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
